[ req ]
default_bits = 4096
default_md = sha256
default_keyfile = cert-key.pem
prompt = no
encrypt_key = no

distinguished_name = req_distinguished_name
x509_extensions = v3_req

[ req_distinguished_name ]
commonName = localhost

[ v3_req ]
subjectAltName = @alt_names
basicConstraints = critical, CA:false
keyUsage = critical, keyEncipherment, dataEncipherment, keyCertSign
extendedKeyUsage = critical, serverAuth

[alt_names]
DNS.1	= service1
DNS.2	= service2
DNS.3	= 127.0.0.1
