[ req ]
default_bits = 4096
default_md = sha256
default_keyfile = cert-key2.pem
prompt = no
encrypt_key = no

distinguished_name = req_distinguished_name
x509_extensions = v3_req

[ req_distinguished_name ]
commonName = service2

[ v3_req ]
subjectAltName = @alt_names
basicConstraints = critical, CA:false
keyUsage = critical, keyEncipherment, dataEncipherment
extendedKeyUsage = critical, serverAuth

[alt_names]
DNS.1	= service2
