version: '3.4'

services:
  service1:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"

  service2:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"
